.config_form{
    padding-top: 100px;
    max-width: 500px;
    margin: 0 auto;
}

.config_form form{
    margin-top: 30px;
}

.task-list{
    padding-top: 100px;
    max-width: 500px;
    margin: 0 auto;
}
/*.form-control{
    max-width: 86%;
    float: left;
}*/

.id{
    float: right;
}
.list-group-item:hover{
    background-color:#EBEBEB;
}
